.dropdown-menu.show {
  backdrop-filter: blur(5px);
  background-color: rgb(255 255 255 / 75%);
}

.footer-links {
  background: #f0f0f0;
  color: #212529;
  font-size: 12px!important;
  padding: 35px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container .title {
  color: #000;
}

.footer-container ul li a {
  color: #212529;
  text-decoration: none;
}

.title:hover {
  opacity: 0.7;
}

.footer-container ul li a:hover {
  opacity: 0.7;
}

.footer-container ul {
  margin: 0 auto;
  list-style: none;
}

.footer-container ul li {
  line-height: 2.8;
}

.footer {
  background: #f0f0f0;
  color: #212529;
  font-size: 12px!important;
  text-align: center;
  padding-bottom: 20px;
}

.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #2098d1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: box-shadow .15s ease-in-out, color .15s ease-in-out;
  border-color: #2098d1!important;
}

.button:hover {
  color: #ffffff;
  background-color: transparent!important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lora', serif!important;
}

body {
  font-family: 'Lato', sans-serif!important;
}

.navbar {
  box-shadow: 0px 10px 8px 0px rgb(38 38 38 / 20%);
}

.navbar-toggler {
  border-color: rgb(0 0 0 / 0%)!important;
  height: 50px;
  transition : background 0.3s, border-radius 0.3s!important;
}

.navbar-toggler:focus {
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 100%)!important;
  background: #f0f0f0;
  border-radius: 10px;
}

.navbar-toggler-icon {
  width: 50px!important;
  height: 50px;
}

code {
  background: #f0f0f0;
  border-radius: 6px;
  padding: 6px;
}

.link-text {
  border-bottom: 2px solid #cccccc;
}

.sk-chase {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  animation: sk-chase 2.5s infinite cubic-bezier(0.81, 0.13, 0.57, 1) both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #cccccc;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}

.link {
	 color: #2175ff;
	 cursor: pointer;
	 font-weight: 400;
	 text-decoration: none;
}
 .link--arrowed {
	 display: inline-block;
	 height: 2rem;
	 line-height: 2rem;
}
 .link--arrowed .arrow-icon {
	 position: relative;
	 top: -1px;
	 -webkit-transition: -webkit-transform 0.3s ease;
	 transition: -webkit-transform 0.3s ease;
	 transition: transform 0.3s ease;
	 transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	 vertical-align: middle;
}
 .link--arrowed .arrow-icon--circle {
	 transition: stroke-dashoffset 0.3s ease;
	 stroke-dasharray: 95;
	 stroke-dashoffset: 95;
}
 .link--arrowed:hover .arrow-icon {
	 transform: translate3d(5px, 0, 0);
}
 .link--arrowed:hover .arrow-icon--circle {
	 stroke-dashoffset: 0;
}
 

.so:hover {
  color: #f48024;
}

.gh:hover {
  color: #000;
}

.da:hover {
  color: #00e59b;
}

#one, #two, #three, #four {
  padding-top: 125px;
}

.link {
	 position: relative;
	 transition: clip-path 275ms ease;
}
 .link:hover span::before, .link:focus span::before {
	 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
 .link span {
	 position: relative;
	 display: inline-block;
}
 .link span::before {
	 position: absolute;
	 content: attr(data-content);
	 border-bottom: 3px solid rgb(0 0 0 / 55%);
	 clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
	 transition: clip-path 275ms ease;
}

body {
  background: #ffffff;
  color: #000000;
  position: relative;
}

footer {
  background: #cccccc;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.footer-text {
  color: #000000;
  text-align: center;
}

.footer-text a.cc-link {
  color: #2079ff;
  text-decoration: none;
}

.footer-text a.cc-link:hover {
  border-bottom: 2px solid #2079ff;
}

.nav-brand-footer {
  width: 40px;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,#00ff95,#2079ff);
  border-bottom: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 5px solid #ffffff;
  border-top: 5px solid #ffffff;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top,#00ff95,#2079ff);
}

body::-webkit-scrollbar {
  background: transparent;
}

.newsletter {
  background: #cccccc;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
  margin: 100px auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(38 38 38 / 20%);
  transition: transform 0.3s, box-shadow 0.3s;
}

.newsletter:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgb(38 38 38 / 5%), 0 20px 40px rgb(38 38 38 / 20%);
}

.newsletter-text {
  color: #000000;
}

.section-text {
  color: #000000;
  width: 100%;
  line-height: 25px;
  padding: 50px;
  background: #ffffff;
  border-radius: 20px;
}

.section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding: 0 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.section-grid div {
  margin: 25px 0;
  box-shadow: 0 4px 8px rgb(38 38 38 / 40%);
  border-radius: 20px;
}

.section-grid-img {
  margin-top: 20px;
}

.section-grid-text-1, .section-grid-text-2, .section-grid-text-3 {
  padding: 50px 70px;
  margin-top: 50px;
  background: #cccccc;
}

@media (max-width: 1120px) {
  .section-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
  }
  .grid-1 {
    margin: auto;
  }
}

@media (max-width: 720px) {
  .section-grid {
    padding: 0 20px;
  }
  .grid-1 {
    margin: auto;
  }
}

@media (max-width: 640px) {
  .section-grid {
    grid-template-columns: 1fr;
    padding: 0 50px;
  }
}

.ccontainer {
  background: url(wp-content/images/assets/img/parallax-img/bg.png) no-repeat;
  background-size: cover;
}

.ccontainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.ccontainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.ccontainer h2 {
  text-align: center;
  font-family: 'Segoe UI', sans-serif!important;
  z-index: 1;
  position: relative;
  color: #ffffff;
  font-size: 90px;
  padding: 100px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 32px;
  line-height: 60px;
}

.ccontainer h2 span {
  font-size: 48px;
  font-family: 'Segoe UI', sans-serif!important;
  font-weight: 500;
  letter-spacing: 10px;
}

.cookies-advice {
  display: none;
  background: #fff;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 300px;
  border-radius: 10px;
  padding-top: 60px;
}

.cookies-advice.active {
  display: block;
}

.cookie {
  max-width: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.backdrop-cookies {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, .20);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000000;
}

.backdrop-cookies.active {
  display: block;
}

@media (max-width: 720px) {
  .cookies-advice {
    max-width: 100%;
  }

  .accept-cookies {
    width: 20%!important;
    display: inline;
  }
}

@media(max-width: 800px) {
  .ccontainer h2 {
      font-size: 60px;
      letter-spacing: 19px;
      line-height: 35px;
  }
  .ccontainer h2 span {
      font-size: 26px;
  }
}



@media (max-width: 720px) {

  .footer-text img {
    height: 20px;
    width: 20px;
  }

  .footer-text a.cc-link:hover {
    border-bottom: 1px solid #2049ff;
  }
}

@media (max-width: 720px) {
  .footer-links .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-links .footer-container {
    grid-template-columns: 1fr;
  }

}