 .navbar {
box-shadow: 0px 10px 8px 0px rgb(38 38 38 / 20%);
}

code {
  background: #f0f0f0;
  border-radius: 6px;
  padding: 6px;
}

.link-text {
  border-bottom: 2px solid #cccccc;
}

.sk-chase {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  animation: sk-chase 2.5s infinite cubic-bezier(0.81, 0.13, 0.57, 1) both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #cccccc;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}

.link {
	 color: #2175ff;
	 cursor: pointer;
	 font-weight: 400;
	 text-decoration: none;
}
 .link--arrowed {
	 display: inline-block;
	 height: 2rem;
	 line-height: 2rem;
}
 .link--arrowed .arrow-icon {
	 position: relative;
	 top: -1px;
	 -webkit-transition: -webkit-transform 0.3s ease;
	 transition: -webkit-transform 0.3s ease;
	 transition: transform 0.3s ease;
	 transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	 vertical-align: middle;
}
 .link--arrowed .arrow-icon--circle {
	 transition: stroke-dashoffset 0.3s ease;
	 stroke-dasharray: 95;
	 stroke-dashoffset: 95;
}
 .link--arrowed:hover .arrow-icon {
	 transform: translate3d(5px, 0, 0);
}
 .link--arrowed:hover .arrow-icon--circle {
	 stroke-dashoffset: 0;
}
 

.so:hover {
  color: #f48024;
}

.gh:hover {
  color: #000;
}

.da:hover {
  color: #00e59b;
}

#listgroup {
  padding-top: 125px;
  border-radius: 20px;
}

.list-group-item.active {
  transition: all 0.3s;
}

#one, #two, #three, #four {
  padding-top: 125px;
}

.link {
	 position: relative;
	 transition: clip-path 275ms ease;
}
 .link:hover span::before, .link:focus span::before {
	 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
 .link span {
	 position: relative;
	 display: inline-block;
}
 .link span::before {
	 position: absolute;
	 content: attr(data-content);
	 border-bottom: 3px solid #0000008c;
	 clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
	 transition: clip-path 275ms ease;
}
 

.list {
  margin-top: 20px; 
}

body {
  background: #ffffff;
  color: #000000;
  position: relative;
}

.footer {
  background: #cccccc;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.section-link {
  color: #2079ff;
  font-size: 17px;
  text-decoration: none;
}

.section-link:hover {
  text-decoration: underline;
}

.actual-link {
  border-bottom: 5px solid #cccccc;
}

.footer-text {
  color: #000000;
  text-align: center;
}

.footer-text a.cc-link {
  color: #2079ff;
  text-decoration: none;
}

.footer-text a.cc-link:hover {
  border-bottom: 2px solid #2079ff;
}

.nav-brand-footer {
  width: 40px;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,#00ff95,#2079ff);
  border-bottom: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 5px solid #ffffff;
  border-top: 5px solid #ffffff;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top,#00ff95,#2079ff);
}

body::-webkit-scrollbar {
  background: transparent;
}

.newsletter {
  background: #cccccc;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
  margin: 100px auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(38 38 38 / 20%);
  transition: transform 0.3s, box-shadow 0.3s;
}

.newsletter:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgb(38 38 38 / 5%), 0 20px 40px rgb(38 38 38 / 20%);
}

.newsletter-text {
  color: #000000;
}

.iframe {
  background: #ffffff;
  border-radius: 10px;
}

.section-1 {
  margin-top: 50px;
  background: url(wp-content/images/assets/img/banners/photo-carousel-1.jpg) no-repeat fixed center/cover;
  background-position-y: center;
  width: 100%;
  padding: 100px 0;
  margin-bottom: 50px;
}

.section-1 div img {
  position: relative;
  right: 0;
  margin-right: 200px;
  padding: 10px;
  background: #ffffff;
  border-radius: 20px;
}

.section-text {
  color: #000000;
  width: 100%;
  line-height: 25px;
  padding: 50px;
  background: #ffffff;
  border-radius: 20px;
}

.section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding: 0 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.section-grid div {
  margin: 25px 0;
  box-shadow: 0 4px 8px rgb(38 38 38 / 40%);
  border-radius: 20px;
}

.section-grid-img {
  margin-top: 20px;
}

.section-grid-text-1 {
  padding: 50px 70px;
  margin-top: 50px;
  background: #cccccc;
}

.section-grid-text-2 {
  padding: 50px 70px;
  margin-top: 50px;
  background: #cccccc;
}

.section-grid-text-3 {
  padding: 50px 70px;
  margin-top: 50px;
  background: #cccccc;
}

@media (max-width: 1000px) {
  .section-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
  }
}

@media (max-width: 720px) {
  .section-grid {
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  .section-grid {
    grid-template-columns: 1fr;
    padding: 0 50px;
  }
}

.ccontainer {
  background: url(wp-content/images/assets/img/parallax-img/bg.png) no-repeat;
  background-size: cover;
}

.ccontainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.ccontainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.ccontainer h2 {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  z-index: 1;
  position: relative;
  color: #ffffff;
  font-size: 90px;
  padding: 100px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 32px;
  line-height: 60px;
}

.ccontainer h2 span {
  font-size: 48px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  letter-spacing: 10px;
}

#particles-js {
  width: 100%;
  height: 100%;
}

@media(max-width: 800px) {
  .container h2 {
      font-size: 60px;
      letter-spacing: 19px;
      line-height: 35px;
  }
  .container h2 span {
      font-size: 26px;
  }
}

#resultado li a {
  color: #000000;;
}

#resultado li {
  padding: 20px;
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid #cccccc;
}

#resultado li a {
  text-decoration: none;
  color: #000000;
}

#resultado li a:hover {
  text-decoration: underline;
  color: #2079ff;
}

@media (max-width: 720px) {

  .footer-text img {
    height: 20px;
    width: 20px;
  }

  .footer-text a.cc-link:hover {
    border-bottom: 1px solid #2049ff;
  }
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}